.pagination {
  display: inline-flex;
  align-items: center;

  gap: 10px;
  list-style: none;
  li {
    a {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: #f6f6f6;
  border-radius: 5px;

  &:hover {
    color: #fff;
    background-color: #091d9e;
  }
}

.next {
  text-align: center;
  font-size: 20px;
  margin-left: 5px;
}

.previous {
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
}

.active {
  color: #fff;
  background-color: #091d9e;
}

// li {
//   display: inline-block;

//   a {
//     display: inline-block;
//     color: #fe5f1e;

//     text-align: center;
//     width: 45px;
//     height: 45px;
//     line-height: 42px;
//     border: 1px solid #fe5f1e;
//     border-radius: 30px;
//     margin-right: 10px;
//     cursor: pointer;

//     &:hover {
//       background-color: #fe5f1e;
//       color: #fff;
//     }
//   }
// }
