.catalog {
  padding-top: 40px;
  padding-bottom: 180px;

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #454545;
  }

  &__title {
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    color: #0c0c0c;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__filter {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    gap: 4px;
    cursor: pointer;
    span {
      font-size: 16px;
      font-weight: 400;
      color: #454545;
    }
  }

  &__grid {
    display: flex;
    gap: 6px;
    &-icon {
      font-size: 26px;
      cursor: pointer;
      color: #ababab;
    }
  }

  &__content {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__filters {
    grid-column: 3 span;
  }

  &__carts {
    grid-column: 9 span;
    // grid-template-columns: repeat(12, 1fr);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.active-grid {
  color: var(--color-black);
}
