.button {
  width: 192px;
  height: 44px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: #091d9e;
  font-size: 14px;
  font-weight: 500;
  color: #f6f6f6;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:active {
  transform: scale(0.95);
}
