.menu {
  &__list {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  &__text {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
  }

  &__icon {
    font-size: 24px;
  }

  &__products {
    position: absolute;
    left: 50%;
    top: -6px;
    width: 16px;
    height: 16px;
    color: var(--color-white);
    background-color: var(--color-violet);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
  }
}

// .active-link {
//   .menu__text {
//     color: var(--color-main);
//   }
//   .menu__icon {
//     color: var(--color-main);
//   }
// }
