// colors
:root {
  --color-black: #0c0c0c;
  --color-white: #fff;
  --color-gray: #454545;
  --color-gray-light: #c1c1c1;
  --color-main: #091d9e;
  --color-violet: #750dc5;
  --color-purple: #bcc5ff;
}
