.catalog {
  position: relative;
  padding-top: 40px;
  padding-bottom: 180px;

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #454545;
  }

  &__title {
    margin-top: 32px;
    font-size: 30px;
    font-weight: 400;
    color: #0c0c0c;
  }

  &__header {
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__grid {
    display: flex;
    gap: 6px;
    &-icon {
      font-size: 26px;
      cursor: pointer;
      color: #ababab;
    }
  }

  &__content {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__filters {
    grid-column: 3 span;
    margin-right: 75px;
  }

  &__carts {
    grid-column: 9 span;
  }

  &__list {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    list-style: none;
    justify-items: center;
    border-top: 1px solid var(--color-purple);
    border-bottom: 1px solid var(--color-purple);
  }

  &__pagination {
    margin-top: 40px;
  }
}

.active-grid {
  color: var(--color-black);
}

// &__filter {
//   margin-top: 30px;
//   display: flex;
//   align-items: flex-end;
//   gap: 4px;
//   cursor: pointer;
//   span {
//     font-size: 16px;
//     font-weight: 400;
//     color: #454545;
//   }

//   &-popup {
//     position: absolute;
//     background: #ffffff;
//     top: 180px;
//     left: 16px;
//     z-index: 10;
//     border-radius: 8px;
//     box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
//     padding: 10px 0;
//     overflow: hidden;

//     &--list {
//       list-style: none;
//       margin: 0;
//       padding: 0;
//     }

//     &--item {
//       padding: 5px 22px;
//       cursor: pointer;
//       font-size: 16px;
//       font-weight: 400;
//       color: #454545;

//       &.active,
//       &:hover {
//         background: rgba(0, 119, 255, 0.1);
//       }
//     }
//   }
// }
