.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);

  &__caption {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
  }

  &__price {
    &-inputs {
      position: relative;
      display: flex;
      &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        width: 1px;
        height: 28px;
        background-color: #91a0ff;
      }
    }

    &-input {
      width: 50%;
      height: 40px;
      border: none;
      outline: none;
      background-color: var(--color-purple);
      text-align: center;
      color: #454545;
      font-size: 14px;
      font-weight: 300;
      &:first-child {
        border-right: none;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
      &:last-child {
        border-left: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}
